*{
  margin: 0;
  padding: 0;
}
.App{
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 50px red;
  animation: neon 5s infinite;
}
@keyframes neon {
  50% {box-shadow: 0 0 50px yellow ;}
}
#sayac{
  color: orange;
  font-size: 50px;
  padding-top: 5%;
}
#sayı{
  color: orange;
  font-size: 150px;
}
#azalt,#arttır,#sıfırla{
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px 20px;
}
#azalt{
  background-color: rgb(117, 26, 26);
  color: black;
}
#arttır{
  background-color:rgb(220, 220, 29);
  color: black;
}
#sıfırla{
  background-color:orange;
  color: black;
}
@media only screen and (width <= 900px) {
  #sayac{
    font-size: 25px;
  }
  #sayı{
    font-size: 70px;
  }
}
